<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
{% import "template.twig" as self %}
<body class="home-template" data-theme="dark">
	<div class="post-list infinite-scroll">
		{% for sysKey, typeNotes in mapSysTypeNote %}
			{% set system = mapSysKeys[sysKey] %}
			<article class="post-card post-access-public">
				<div class="post-card-inner">
					<header class="post-card-header">
						<h3 class="post-card-title"><a href="javascript:void(0)">{{system.SystemName}}</a></h3>
						<div class="post-meta">
							<ul class="post-tags">
								{% for type, notes in typeNotes %}
									<li class="tag-added">
										<a href="#{{system.SystemName}}-{{type}}">{{type}}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</header>
					<div class="post-card-content">
						<div class="post-content">
							{% macro noteRow(note) %}
								<li style="break-inside: avoid;">
									<b>{{note.Title}}</b>
									<br />
									<small>{{note.TextMessage}}</small>
									<div style="display: inline-block; width: 100%; margin-bottom: 10px; margin-top: 5px;">
										{% for assignee in note.Assignees %}
											<img title="{{assignee.DisplayName}}"
												style="border-radius: 50%; height: 20px; float: left; margin: 0 8px 0 0;"
												src="{{assignee.PublicImageUrl}}" />
										{% endfor %}
										{% for link in note.Links %}
											<a style="color: rgb(0 208 255); font-size: 11px; float: left; line-height: 20px; font-weight: bold;"
												target="_blank"
												href="{{link.PublicUrl}}">{{link.Title}}</a>
										{% endfor %}
									</div>
								</li>
							{% endmacro %}
							{% for type, notes in typeNotes %}
								<h3 id="{{system.SystemName}}-{{type}}" style="scroll-margin-top: 20px;">{{type}}</h3>
								{% for note in notes %}
									<ul>
										{{ self.noteRow(note) }}
									</ul>
								{% endfor %}
							{% endfor %}
						</div>
					</div>
				</div>
			</article>
		{% endfor %}
	</div>
	<footer class="site-footer">
		<div class="container">
			<div class="copyright">
				<p style="text-align: center;">
					© 2021 #TEAM NAME#. Tech team:
					<br/><br/>

					{% for member in members %}
					<div class="tech-member">
						<img src="{{member.PublicImageUrl}}"/>
						<div class="name">{{member.DisplayName}}</div>
						<div class="office">{{member.Office}}</div>
					</div>
					{% endfor %}

				</p>
			</div>
		</div>
	</footer>
</body>